body {
    margin:0;
    padding: 0;
    font-family: "Times New Roman";
}
tr {
    margin:0;
    padding:0;
}
.main {
    margin:0;
    padding: 70px 2% 0px 2%;
    width:96%;
}

.navbar {
    font-family: "Arial";
    font-size:18px;
    font-weight: 600;
}

ul.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color:white;
    position:fixed;
    width: 100%;
    border-bottom: 1px solid #484848;
    height: 50px;
}

.navbar_img {
    margin:0;
    padding:0;
    height:50px;
    width:60px;
}

.navbar_img_mobile {
    display: none;
    margin:0;
    padding:10px;
   
}



ul.navbar li {
    float: left;
}

ul.navbar li a {
    color: #484848;
    text-decoration: none;
    padding: 16px 16px;
    display: block;
    
} 

ul.navbar li a.active {
    background-color: #484848; 
    color: white;
}

ul.navbar li a:hover:not(.active) {
    background-color:  #f2f2f2;
}

.check_box {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    height:50px;
    width:50px;
    float: right;
}

.navbar_mobile {
    background-color: #5f5f5f;
    display: block;
    width: 100%;
    height: 50px;
    margin:0;
    padding:0;

}



.nav_bar_temp {
    display: block;
    background-color: #5f5f5f;
    position:fixed;
    overflow: hidden;
    width: 96%;
    margin: 0 2% 0 2%;
    border-radius: 0 0 7px 7px;
}

.nav_bar_temp a {
    color: white;
    text-decoration: none;
}
.nav_bar_temp_text {
    text-align: left;
    padding:10px; 
    padding-left:22px;
    margin:0;
    line-height: 30px;
}
.nav_bar_temp_text_short {
    display: none;
    text-align: left;
    line-height: 30px; 
    padding:10px;
    padding-left:20px;
    margin:0;
    
}

.nav_bar {
    background-color: #5f5f5f;
    color: white;
    text-decoration: none;
    height: 50px;

}
.nav_bar a {
    color: white;
    text-decoration: none;
}
.img_right{
    height: 100%;
    width: 100%;
    max-width: 223px;
    float:left;
    display: block;
    padding: 20px;
}
.blok {
    width: 100%;
    margin: 0;
    padding:0;
    border:3px solid #f1f1f1;
    display:inline-block; /*jinak se obrazky rozpadnou na dalsi radek a stravis nekolik hodin na stackowerflow*/

    -webkit-box-sizing: border-box; /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
    -moz-box-sizing: border-box;    /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
    -ms-box-sizing: border-box;     /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
    box-sizing: border-box;         /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/

}

.heading_bold {
    background-color: #f1f1f1;
    padding:0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    margin:-1px; /*-1px zabranuje mezere mezi borderm a pozadim, ktera tam je i presto, ze je margin a padding 0*/
    border:3px solid #f1f1f1;
    color:#484848;

    font-family: "Arial";
    font-size:20px;
    font-weight: 600;
}

.heading_normal {
    width: 100%;
    color:white;
    padding: 6px 6px 6px 16px;
    /*margin-bottom:20px;*/
    margin:0;
    margin-top:30px;
    margin-bottom:0px;
    background-color: #484848;
    border:3px solid #484848;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; 
    -webkit-box-sizing: border-box; /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
    -moz-box-sizing: border-box;    /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
    -ms-box-sizing: border-box;     /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
    box-sizing: border-box;         /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/


    font-family: "Arial";
    font-size:24px;
    font-weight: 600;

}
.text {
    margin: 10px;
    padding: 10px;
}
.nej_hry_div {
    border:3px solid #f1f1f1;

    margin-bottom: 20px;
    background-color: #f1f1f1;
}

.tabulka_nej_hry_div {
    overflow-x: auto;
    margin: 10px 13px;
}

.tabulka_nej_hry {
    border-collapse: collapse;
    width: 100%;
    border: hidden;
    border-radius: 7px;
    margin: 0; 
    overflow:hidden;

}

.vsechny_konzole_div {
    border:6px solid #f1f1f1;

    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    width:60%;
    margin-left: 20%; 
    margin-right: 20%;

    
}

.tabulka_vsechny_konzole_div {
    overflow-x: auto;
    margin:10px 16px;

}

.tabulka_vsechny_konzole {
    border-collapse: collapse;
    border: hidden;
    border-radius: 7px;
    margin: 0; 
    padding:0;
    overflow:hidden;
    width:100%;

}
.table_column_specs {
    background-color: #5f5f5f;
    color:white;
    text-align: center;
    border:1px solid #f1f1f1; 
    margin:0;
    padding:0;
    height: 100%;
    
}



.table_heading_bold {
    background-color: #f1f1f1;
    padding:0;
    padding-left: 10px;
    padding-top:6px;
    margin:-1px; /*-1px zabranuje mezere mezi borderm a pozadim, ktera tam je i presto, ze je margin a padding 0*/
    border:3px solid #f1f1f1;
    padding-bottom: 0; 
    margin-bottom: 0; 
    color:#484848;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 600;

}
.table_header {
    min-width: 150px;
    background-color: #5f5f5f;
    color:white;
    text-align: center;
    padding:5px;
    margin:0;
    height: 30px;
}

.table_cell {
    border: 1px solid #f1f1f1;
    padding: 0px 10px;
    background-color: white;
    height: 100%;
    margin:0;

}
.table_image {
    max-width: 150px;
    height: auto;
    float:left;  /*jinak jsou pod obrazky mezery xd*/
}
.table_column {
    background-color: #5f5f5f;
    color:white;
    text-align: center;
    /*border:1px solid #5f5f5f; */
    margin:0;
    padding:0;
    width:150px;
    height: 100%;
}

.footer {
    border-top:3px solid #f1f1f1;
    width:96%;
    margin-left:2%;
    margin-right:2%;
    margin-top:20px;
    text-align: center; 
    padding:0;
}

.konzole_list_div {
    width: 80%;
    margin:auto;
    padding:0;
}

.konzole_list {
    list-style-type: none;
    margin:auto;
    padding:0;
    overflow:hidden;
    max-width: 742px;
    display:block;
    text-align:center;
}

.konzole_list_li {
    display:inline-block;
    padding:auto;
    margin:0;
}

.zdroje_text {
    text-decoration: none;
    color: black;
}

.dotaznik_fieldset {
    border:none;
    padding:10px;
    width: 35%;
    margin: auto;
    text-align: left;
}

.dotaznik_text {
    padding: 5px;
    background-color: #f1f1f1;
    border:3px solid #f1f1f1;
    color: #484848;
    width: 100%;
    margin-bottom:5px;

   -webkit-box-sizing: border-box; /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
   -moz-box-sizing: border-box;    /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
   -ms-box-sizing: border-box;     /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
   box-sizing: border-box;         /*zahrnuje border do sirky divu, jinak pri width=100% div precuhuje*/
}
.dotaznik_icon {
    max-width: 64px;
}


.odeslat_dotaznik {
  background-color: #f1f1f1;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;

}

.dotaznik_nadpis {
    font-family: "Arial";
    font-size: 20px;
    font-weight: 600;
    color: #484848;
}

label {
    font-family: "Arial";
    color: #484848;
}




@media only screen and (max-width:500px) {

    .navbar_img {
        display:none;
    }

    .navbar_img_mobile {
        display:block;
        width:10%;
        padding-left:45%;
        padding-right: 45%;
        margin:0;
        
    }

    .img_right{
        width: 80%;
        max-width:80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top:30px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        /*border-bottom: 2px solid #f1f1f1;*/

    }   
    .main {
        padding-top:60px;
    }
    .blok{
        border: 2px solid #f1f1f1;
    }
/*
    .heading_bold {

        margin-bottom: 20px;
        padding-left:16px;
        margin:0;
    }

*/
    .nav_bar_temp {
        width:100%;
        margin:0;
        padding: 0;
        padding:0;
    }
    
    .nav_bar_temp_text{
        display:none;

    }

    
    .nav_bar_temp_text_short{
        display:block;
        
    }
    
    .nej_hry_div {
        border:2px solid #f1f1f1;
    }

    .vsechny_konzole_div {
        width: 96%; 
        margin:0;
        margin-bottom: 20px;
    }
    .navbar {
        
    }

    ul.navbar {
        position: unset;
        border: none;
        height: unset;
    }
    ul.navbar li {
        float: none;
        text-align: center;
    }


        .check_box:checked ~ ul.navbar {
        background-color: red;
    }

    .text {
        padding:0;
    }
    .table_heading_bold {
        padding-top: 14px;
    }

    .dotaznik_fieldset {
    width: 80%;
}

}